@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header-row {
  margin-top: "2rem";
  margin-left: "2rem";
  width: "100%";
}

/* .header-lefttab {
  display: flex;

  flex: 0.1 auto;
  justify-content: space-around;
  margin-right: 50px;
}

.header-righttab {
  display: flex;
  flex: 0.4;
  justify-content: center;

  height: 40px;
}

.button-box {
  display: flex;
  width: fit-content;
  background-color: #eeeeee;
  position: relative;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-btn {
  background-color: black;
  font-style: inherit;
  border-radius: 30px;
  color: white;
  padding: 0%;
  margin-right: 20px;
  width: 30%;
}
.signin-btn {
  background-color: #eeeeee;
  border-radius: 30px;
  padding: 0%;
  width: 25%;
  margin-right: 20px;
}
.searchbutton {
  flex: 1 auto;
  font-family: UberMoveText, sans-serif;
  border: none;
}
.header-center {
  display: flex;
  flex: 1 auto;
  align-items: center;
  padding: 20px;
  height: 50px;
  background-color: #eeeeee;
}
.header input {
  border: none;
  padding: 0px;
  outline-width: 0;
  width: 100%;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #eeeeee;
}
.header-icon {
  height: 50px;
} */
