.side-bar {
  margin-top: 50px;
  position: sticky;
  width: 35%;
}
.barcontents {
  margin-top: 10px;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.allbuttons {
  margin-top: 0px;
  font-weight: bold;
  display: flex;
}
